<div class="row">
  <div class="col-md-6 col-md-offset-3 panel panel-default">
    <h1 class="margin-base-vertical">Artilharia</h1>
    <div class="table-responsive">
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th colspan="3" style="text-align: center;">Jogador</th>
            <th>Jogos</th>
            <th>Gols</th>
            <th>Média</th>
          </tr>
        </thead>
        <tr ng-repeat="jogador in vm.jogadores | orderBy:vm.calcularMedia:true">
          <td>
            {{$index+1}}
          </td>
          <td>
            <img class="img-responsive img-circle" height="60" ng-src="images/{{jogador.img}}" width="60">
          </td>
          <td>
            <span ng-if="jogador.apelido">{{jogador.apelido}}</span>
            <span ng-if="!jogador.apelido">{{jogador.nome}}</span>
          </td>
          <td>
            <a ng-click="vm.addJogo(jogador,-1)">
              <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
            </a>
            {{jogador.jogos}}
            <a ng-click="vm.addJogo(jogador,1)">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
          </td>
          <td>
            <a ng-click="vm.addGol(jogador,-1)">
              <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
            </a>
            <span>{{jogador.gols}}</span>
            <a ng-click="vm.addGol(jogador,1)">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
          </td>
          <td>
            <span>{{jogador.gols / jogador.jogos | number:2}}</span>
          </td>
        </tr>
      </table>
    </div>
    <div class="margin-base-vertical">
      <small class="copyr">© Piciti Tecnologia</small>
    </div>
  </div>
</div>
