<div class="row">
    <div class="col-md-6 col-md-offset-3 panel panel-default">
    <h1 class="margin-base-vertical">Pelada Sabadão 9:30</h1>
    <p>
      Espaço destinado aos ex-craques de futebol que nunca deram certo, aos talentos prodígios que nunca passaram em uma peneira de clube, aos corneteiros, cai-cai e técnicos que nunca escalaram um time de futebol de botão.
    </p>
    <p>
      Aqui a única coisa que importa mais do que a contagem dos gols da pelada é o golo de cada mês
    </p>
    <div class="margin-base-vertical">
      <small class="copyr">© Piciti Tecnologia</small>
    </div>
  </div>
</div>
